Model/gpt2-medium-chatkobi-AI-ggjt.bin
dataset.txt
chatkobi/.next
chatkobi/Model
chatkobi/node_modules
Model/gpt2-medium-chatkobi-AI-ggjt-v2.bin
Model/gpt2-medium-chatkobi-ggjt-v2.1.bin
server/Model
chatkobi/release
server/build
app-build/model
app-build/build
app-build/iYT1dHVf8umCW79MwECr.bin
app-build/iYT1dHVf8umCW79MwECr.meta
2midguifSfFt5SbHJsxP.bin
2midguifSfFt5SbHJsxP.meta
app-build/__pycache__/load_model.cpython-310.pyc
__pycache__/load_model.cpython-310.pyc
app-build/app
app-build/output
chatkobi.ai 0.2.0.exe
1SdjAt39Mjfi2mklO.bin
docker
